/************************************************

SEKTION FOR FONTS

*************************************************/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@font-face {
    font-family: 'Penny';
    src: url("../fonts/Penny-Script-Demo.ttf") format("truetype");
}

@font-face {
    font-family: 'HeliosSemibold';
    src: url("../fonts/HeliosAntiqueSemiBold.tff") format("truetype"), url("../fonts/HeliosAntiqueSemiBold.eot") format("embedded-opentype"), url("../fonts/HeliosAntiqueSemiBold.woff") format("woff");
}

@font-face {
    font-family: 'HeliosBold';
    src: url("../fonts/HeliosAntiqueBold.tff") format("truetype"), url("../fonts/HeliosAntiqueBold.eot") format("embedded-opentype"), url("../fonts/HeliosAntiqueBold.woff") format("woff");
}

/************************************************

SEKTION FOR GENERELLE CSS REGLER

*************************************************/

.heading-penny {
    font-family: "Penny", serif;
    letter-spacing: 2px;
}

.heading-heliosSemibold {
    font-family: "HeliosSemibold", sans-serif;
    font-weight: 600;
}

.heading-heliosBold {
    font-family: "HeliosBold", sans-serif;
    font-weight: 700;
}

p {
    font-family: "Open Sans", sans-serif;
}

.fcolor-white {
    color: #ffffff;
}

.fcolor-brown {
    color: #6e2626;
}

.fcolor-orange {
    color: #eaae48;
}

.fcolor-lightgreen {
    color: #58ae5c;
}

.fcolor-darkgreen {
    color: #568a5b;
}

.fcolor-beige {
    color: #f4d19b;
}

.fsize-xs {
    font-size: 14px;
}

/* font-size 16px */

.fsize-sm {
    font-size: 16px;
}

/* font-size 18px */

.fsize-md {
    font-size: 18px;
}

/* font-size 30px */

.fsize-lg {
    font-size: 30px;
}

/* font-size 48px */

.fsize-xl {
    font-size: 48px;
}

/* font-size 60px */

.fsize-xxl {
    font-size: 60px;
}

/* font-size 80px */

.fsize-xxxl {
    font-size: 120px;
}

.openbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 66px;
    background-color: #58ae5c;
    position: absolute;
    left: 132px;
    box-shadow: rgba(0, 0, 0, .117647) 0 5px 3px;
    z-index: 999;
}

.openbox .heading-heliosBold {
    font-size: 9px;
}

.black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.height {
<<<<<<< HEAD
    margin-bottom: 50px;
=======
  margin-bottom: 50px;
>>>>>>> a24255b68a81fe813b33e895970c6920b02e25cb
}

/************************************************

CSS REGLER FOR BILLEDFORMAT (JPG, PNG, SVG) OG LOGO

*************************************************/

.logo {
    width: 65px;
    position: absolute;
    left: 29px;
    top: 7px;
}

.cart-icon {
    width: 23px;
}

.menu-arrows {
    width: 16px !important;
}

/************************************************

CSS REGLER FOR  NAVIGATIONEN

*************************************************/

.navbar-mobile {
    background-color: #f4d19b;
    border: none;
    height: 56px;
}

.navbar-mobile li {
    border-bottom: 1px solid #6e2626;
}

.navbar-mobile li:last-child {
    border-bottom: none;
}

.navbar-mobile li a {
    font-family: "HeliosBold", sans-serif;
    font-weight: 700;
    color: #6e2626 !important;
}

.navbar-mobile .navbar-toggle {
    border-color: transparent;
}

.navbar-mobile .navbar-toggle .icon-bar {
    background-color: #6e2626;
    width: 25px;
    height: 4px;
    border-radius: 2px;
}

.navbar-mobile .navbar-toggle .top-bar {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}

.navbar-mobile .navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-mobile .navbar-toggle .bottom-bar {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: -4% 66%;
    -ms-transform-origin: -4% 66%;
    transform-origin: -4% 66%;
}

.navbar-mobile .navbar-toggle:before {
    content: 'MENU';
    font-size: 17px;
    font-family: "HeliosBold", sans-serif;
    font-weight: 700;
    color: #6e2626;
    position: absolute;
    left: -54px;
    bottom: 7px;
}

.navbar-mobile .navbar-toggle:active,
.navbar-mobile .navbar-toggle:focus,
.navbar-mobile .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-mobile .navbar-collapse {
    background-color: #f4d19b;
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, .117647) 0 5px 3px;
}

.navbar-mobile .navbar-toggle.collapsed .top-bar {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.navbar-mobile .navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-mobile .navbar-toggle.collapsed .bottom-bar {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

/************************************************

CSS REGLER FOR KNAPPER

*************************************************/

/* Generel CSS regler for knapper */

.btn {
    box-shadow: rgba(0, 0, 0, .117647) 0 5px 3px;
    border-radius: 5px;
    min-width: 150px;
    padding: 14px 20px;
    font-family: 'HeliosBold', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

btn:focus {
    color: #ffffff;
}

/* Grøn knap */

.btn-green {
    background-color: #58ae5c;
    color: #ffffff;
}

/*Orange knap*/

.btn-orange {
    background-color: #eaae48;
    color: #ffffff;
}

/* Brun knap */

.btn-brown {
    background-color: #6e2626;
    color: #ffffff;
}

.btn-brown-rev {
    background-color: #ffffff;
    color: #6e2626;
}

/************************************************

CSS REGLER FOR FOOTER

*************************************************/

footer {
    background-color: #568a5b;
    padding: 20px 0;
    color: #ffffff;
    
}

footer .footer_title {
    font-family: 'heliosSemibold', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
}

footer .footer_info {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
}

footer .footer__rapport {
    max-width: 135px;
}

/************************************************

CSS REGLER FOR SECTIONS PÅ FORSIDEN

*************************************************/

/** Section for velkommen **/

section.section-welcome {
    background: url(../images/test.jpg) no-repeat center center;
    background-size: cover;
    padding: 100px 13px;
    position: relative;
}

section.section-welcome .btn-green {
    margin-top: 5px;
}

section.section-welcome .heading-area {
    margin-top: 57px;
}

/** section for menu **/

section.section-homepage-menu {
    background-color: #6e2626;
    padding: 10px 13px;
}

section.section-homepage-menu h2 {
    font-size: 39px;
}

section.section-homepage-menu .btn-green,
section.section-homepage-menu .btn-brown-rev {
    margin-bottom: 23px;
}

/** Section for mobile om os **/

section.section-mobile-about {
    background: url(../images/test.jpg) no-repeat center center;
    background-size: cover;
    padding: 50px 19px;
    position: relative;
}

section.section-mobile-about h3 {
    font-size: 13px;
    margin-top: 0;
}

/** Section for åbningstider **/

section.section-openinghours {
    background: url(../images/test.jpg) no-repeat center center;
    background-size: cover;
    padding: 50px 13px;
    position: relative;
}

section.section-openinghours h3 {
    font-size: 13px;
    line-height: 1.8;
}

/** Section for mobile sociale medier **/

section.section-mobile-social {
    padding: 37px 19px;
}

section.section-mobile-social h2 {
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
}

section.section-mobile-social h2:before {
    content: "";
    width: 43px;
    height: 2px;
    background-color: #6e2626;
    position: absolute;
    left: 39px;
    top: 25px;
}

section.section-mobile-social h2:after {
    content: "";
    width: 43px;
    height: 2px;
    background-color: #6e2626;
    position: absolute;
    right: 39px;
    top: 26px;
}

section.section-mobile-social .soc li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    font-size: 25px;
    margin-right: 21px;
}

/************************************************

CSS REGLER FOR SECTIONS PÅ MENU SIDEN

*************************************************/

section.section-menu {
    padding: 50px 13px;
    background-color: #ffffff;
    text-align: center;
}

section.section-menu .heading-area {
    margin-top: 77px;
}

section.section-menu h2 {
    font-size: 14px;
    line-height: 19px;
}

section.section-menu h3:before {
    content: "";
    width: 43px;
    height: 2px;
    background-color: #6e2626;
    position: absolute;
    left: 54px;
    top: 16px;
}

section.section-menu h3:after {
    content: "";
    width: 43px;
    height: 2px;
    background-color: #6e2626;
    position: absolute;
    right: 54px;
    top: 18px;
}

section.section-menu .menu_item {
<<<<<<< HEAD
    margin-bottom: 49px;
}

section.section-menu .menu_item .menu_img {
    max-width: 95px;
}

section.section-menu .menu_item .menu_title {
    font-family: 'HeliosBold', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #6e2626;
    margin-bottom: 0;
}

section.section-menu .menu_item p {
    font-family: 'Open Sans', sans-serif;
    color: #6e2626;
    font-size: 12px;
}

section.section-menu .menu_item .menu_price {
    font-family: 'HeliosBold', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #6e2626;
=======
  margin-bottom: 49px;
}

section.section-menu .menu_item .menu_img {
  max-width: 95px;
  box-shadow: rgba(0, 0, 0, .117647) 0 5px 3px;
}

section.section-menu .menu_item .menu_title {
  font-family: 'HeliosBold', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #6e2626;
  margin-bottom: 0;
}

section.section-menu .menu_item p {
  font-family: 'Open Sans', sans-serif;
  color: #6e2626;
  font-size: 12px;
}

section.section-menu .menu_item .menu_price {
  font-family: 'HeliosBold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #6e2626;
}

/************************************************

<<<<<<< HEAD
CSS REGLER FOR SECTIONS PÅ BESTILLINGS SIDEN

*************************************************/

section.section-order {
  padding: 50px 13px;
  background-color: #ffffff;
}

/** CSS regler for ordre indhold **/

section.section-order .order-content {
  padding-top: 73px;
  padding-left: 47px;
  padding-right: 47px;
}

section.section-order .order-content .order-box {
  margin-bottom: 26px;
  border-bottom: 1px solid #6e2626;
}

section.section-order .order-content h2 {
  margin-bottom: 50px;
}
>>>>>>> a24255b68a81fe813b33e895970c6920b02e25cb

section.section-order .order-content .order-box h3 {
  font-family: 'HeliosBold', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #6e2626;
  margin-bottom: 0;
}

section.section-order .order-content .order-box p {
  font-family: 'Open Sans', sans-serif;
  color: #6e2626;
  font-size: 12px;
}

section.section-order .order-price-box {
  display: flex;
  background-color: #6e2626;
  color: #ffffff;
  border-radius: 6px;
  max-width: 250px;
  margin: 0 auto;
  padding: 14px;
}

section.section-order .order-price-box h3 {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 0;
}

/** CSS regler for ordre formular **/

section.section-order .order-form {
  margin-top: 70px;
  padding-left: 47px;
  padding-right: 47px;
}

section.section-order .order-form p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #6e2626;
  text-align: center;
  margin-bottom: 40px;
}

section.section-order .order-form .form-control {
  margin: auto;
  margin-bottom: 24px;
  border: none;
  box-shadow: rgba(0, 0, 0, .117647) 0 5px 3px;
}

section.section-order .order-form  input::placeholder,
 section.section-order .order-form textarea::placeholder{
  font-family: 'Open Sans', sans-serif !important;
  font-size: 9px !important;
  color: #b0b0b0 !important;
}
section.section-order .order-form .form-check label {
 margin-right: 29px;
}

section.section-order .order-form .form-check label .label-text {
  display: block;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 9px !important;
  color: #6e2626 !important;
}

section.section-order .order-form  .btn-green{
  margin-top: 30px;
}

/************************************************

=======
>>>>>>> parent of 573beeb... HTML + CSS
CSS REGLER FOR SOCIALE MEDIER IKONER

*************************************************/

@font-face {
    font-family: 'si';
    src: url("../fonts/socicon.eot");
    src: url("../fonts/socicon.eot?#iefix") format("embedded-opentype"), url("../fonts/socicon.woff") format("woff"), url("../fonts/socicon.ttf") format("truetype"), url("../fonts/ocicon.svg#icomoonregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: si;
        src: url("../fonts/socicon.svg") format(svg);
    }
}

.soc {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

.soc li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.soc li a {
    font-family: si !important;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    z-index: 1;
    width: 35px;
    height: 35px;
    line-height: 33px;
    font-size: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 50%;
    margin-right: 10px;
    color: #ffffff;
    background-color: #6e2626;
}

.soc-icon-last {
    margin: 0 !important;
}

.soc-facebook:before {
    content: '\e040';
}

.soc-instagram:before {
    content: '\e057';
}

/************************************************

CSS REGLER FOR CAROUSEL

*************************************************/

/* carousel */

#menu-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}

/* Kontrol knapper  */

#menu-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}

/* Forrige knap  */

#menu-carousel .carousel-control.left {
    left: 15px;
}

/* Næste knap  */

#menu-carousel .carousel-control.right {
    right: 15px !important;
}

.item blockquote {
    color: #ffffff;
    font-size: 14px;
    border-left: none;
    margin: 0;
}

.item blockquote img {
<<<<<<< HEAD
    margin-bottom: 10px;
}
=======
  margin-bottom: 10px;
}

/************************************************

CSS REGLER FOR MODAL PÅ MOBILE

*************************************************/

.close {
  opacity: 1;
}

.close img {
  width: 24px;
}

.modal-dialog {
  margin: 80px auto;
  max-width: 280px;
}

.modal-dialog .modal-content .modal-header {
  border-bottom: none;
  padding: 15px 15px 0 15px;
}

.modal-dialog .modal-content .modal-header .modal-title {
  font-family: 'HeliosBold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #6e2626;
  text-align: center;
  margin-top: 50px;
}

.modal-dialog .modal-content .modal-header p {
  font-family: 'Open Sans', sans-serif;
  color: #6e2626;
  font-size: 13px;
  text-align: center;
}

.modal-dialog .modal-content .modal-header .modal-price {
  font-family: 'HeliosBold', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #6e2626;
  text-align: center;
}

.modal-dialog .modal-content .modal-body {
  padding: 0 15px 15px 15px;
}

.modal-dialog .modal-content .modal-body h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #6e2626;
  margin-top: 30px;
  margin-bottom: 19px;
}

.modal-dialog .modal-content .modal-body img {
  max-width: 95px;
  box-shadow: rgba(0, 0, 0, .117647) 0 5px 3px;
}

.modal-dialog .modal-content .modal-body .form-control {
  max-width: 185px;
  margin: auto;
  border: none;
  box-shadow: rgba(0, 0, 0, .117647) 0 5px 3px;
}

.modal-dialog .modal-content .modal-footer {
  border-top: none;
  text-align: center;
}

.modal-dialog .modal-content .modal-footer .btn-green {
  margin-bottom: 13px;
}

.modal-dialog .modal-content .modal-footer .btn-brown {
  margin-bottom: 30px;
}
>>>>>>> a24255b68a81fe813b33e895970c6920b02e25cb
