//Open Sans font hentet fra Google
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

//Penny Script Local Font
@font-face{
  font-family: 'Penny';
  src: url('./assets/fonts/penny.ttf') format('truetype');
}


//Helios Local  Fontface - Semibold
@font-face{
  font-family: 'HeliosSemibold';
  src: url('./assets/fonts/HeliosAntiqueSemiBold.tff') format('truetype'),
       url('./assets/fonts/HeliosAntiqueSemiBold.eot') format('embedded-opentype'),
       url('./assets/fonts/HeliosAntiqueSemiBold.woff') format('woff');
}

//Helios Local Fontface - Bold
@font-face{
  font-family: 'HeliosBold';
  src: url('./assets/fonts/HeliosAntiqueBold.tff') format('truetype'),
       url('./assets/fonts/HeliosAntiqueBold.eot') format('embedded-opentype'),
       url('./assets/fonts/HeliosAntiqueBold.woff') format('woff');
}
