//Font skrifttype for titler
.heading-penny{
  font-family: $pennyfont;
}

//Font skrifttype for headings
.heading-heliosSemibold{
  font-family: $heliousSemibold;
  font-weight: 600;
}

.heading-heliosBold{
  font-family: $heliousBold;
  font-weight: 700;
}

//Font Skrifttype på P-tags
p{
  font-family: $opensans;
}


.fsize-xs {
  font-size: $xsmall;
}
/* font-size 16px */

.fsize-sm {
  font-size: $small;
}
/* font-size 18px */

.fsize-md {
  font-size: $medium;
}
/* font-size 30px */

.fsize-lg {
  font-size: $large;
}
/* font-size 48px */

.fsize-xl {
  font-size: $xlarge;
}
/* font-size 60px */

.fsize-xxl {
  font-size: $xxlarge;
}
/* font-size 80px */

.fsize-xxxl {
  font-size: $xxxlarge;
}
