// Farver
$white-color: #ffffff;
$black-color: #000000;
$brown-color: #6e2626;
$beige-color: #f4d19b;
$orange-color: #eaae48;
$light-green: #58ae5c;
$dark-green: #568a5b;

//Skrifttyper
$opensans: 'Open Sans', sans-serif;
$heliousSemibold: 'HeliosSemibold', sans-serif;
$heliousBold: 'HeliosBold', sans-serif;
$pennyfont: 'Penny';

//Padding på sektioner
$section-padding-xl: 250px 0;
$section-padding-lg: 150px 0;
$section-padding-md: 100px 0;
$section-padding-sm: 50px 0;

//Font størrelser
$xsmall: 14px;
$small: 16px;
$medium: 18px;
$large: 30px;
$xlarge: 48px;
$xxlarge: 60px;
$xxxlarge: 120px;
