@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@font-face {
  font-family: 'Penny';
  src: url("./assets/fonts/penny.ttf") format("truetype"); }

@font-face {
  font-family: 'HeliosSemibold';
  src: url("./assets/fonts/HeliosAntiqueSemiBold.tff") format("truetype"), url("./assets/fonts/HeliosAntiqueSemiBold.eot") format("embedded-opentype"), url("./assets/fonts/HeliosAntiqueSemiBold.woff") format("woff"); }

@font-face {
  font-family: 'HeliosBold';
  src: url("./assets/fonts/HeliosAntiqueBold.tff") format("truetype"), url("./assets/fonts/HeliosAntiqueBold.eot") format("embedded-opentype"), url("./assets/fonts/HeliosAntiqueBold.woff") format("woff"); }

.heading-penny {
  font-family: "Penny"; }

.heading-heliosSemibold {
  font-family: "HeliosSemibold", sans-serif;
  font-weight: 600; }

.heading-heliosBold {
  font-family: "HeliosBold", sans-serif;
  font-weight: 700; }

p {
  font-family: "Open Sans", sans-serif; }

.fsize-xs {
  font-size: 14px; }

/* font-size 16px */
.fsize-sm {
  font-size: 16px; }

/* font-size 18px */
.fsize-md {
  font-size: 18px; }

/* font-size 30px */
.fsize-lg {
  font-size: 30px; }

/* font-size 48px */
.fsize-xl {
  font-size: 48px; }

/* font-size 60px */
.fsize-xxl {
  font-size: 60px; }

/* font-size 80px */
.fsize-xxxl {
  font-size: 120px; }
